html, body {
	padding: 0;
	margin: 0;
	background-color: rgb(40, 41, 35);
}

#logBox {
	float: right;
	font-family: Lucida Console, Monospace, Consolas, Menlo-Regular;
	font-size: 16px;
	color: rgb(116, 112, 94);
}

.timeline {
	background-color: rgb(40, 41, 35);
	font-size: 16px;
	font-family: Lucida Console, Monospace, Consolas, Menlo-Regular;
	overflow: auto;
	padding-top:160px;
}

.timeline::after {
    content: "";
    clear: both;
    display: table;
}

.remove {
	color: rgb(0, 122, 244);
	text-decoration: underline;
	opacity: 0.8;
}

.header {
	width: calc(100% - 40px);
	padding: 20px;
	padding-top: 10px;
	padding-bottom: 130px;
	background-color: rgb(109, 110, 106);
	background-color: rgb(246, 246, 246);
	background-color: rgb(40, 41, 35);
	color: rgb(248, 248, 242);
	position: fixed;
	box-shadow: 0 19px 38px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.22);
}

#logPath {
	height: 22px;
	line-height: 22px;
	padding-left: 5px;
	font-size: 14px;
	font-family: Roboto;
	margin: 0px;
	border: 0px;
	border-radius: 2px;
	width: 600px;
}

.button {
	background-color: rgb(0, 120, 249);
	color: rgb(248, 248, 242);
	cursor: pointer;

	height: 24px;
	line-height: 24px;
	font-size: 14px;
	font-family: Roboto;
	padding: 0px;
	padding-left: 10px;
	padding-right: 10px;
	margin: 0px;
	margin-left: 5px;
	border: 0px;
	outline: 0px;
	border: 0px;
	border-radius: 2px;

	box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
	transition: all 0.3s cubic-bezier(.25,.8,.25,1);
}



.index {
	color: rgb(144, 145, 139);
	min-width: 50px;

	display: inline-block;
	min-width: 30px;
	text-align: right;
	padding-left: 6px;
	padding-right: 14px;

	-webkit-touch-callout: none; /* iOS Safari */
	-webkit-user-select: none; /* Safari */
	-khtml-user-select: none; /* Konqueror HTML */
	-moz-user-select: none; /* Firefox */
	-ms-user-select: none; /* Internet Explorer/Edge */
	user-select: none; /* Non-prefixed version, currently */
}

.file {
	overflow-x: scroll;
	/*-webkit-box-shadow: 10px 0 15px -2px rgba(0,0,0,0.30);*/
}

.file-menu {
	padding: 10px;
	padding-left: 20px;
	white-space: nowrap;
	position: fixed;
	margin-top:-120px;
	background-color: rgb(40, 41, 35);
	width: 100%;
}

.file-menu::after {
    content: "";
    clear: both;
    display: table;
}

.file-name {
	color: rgb(104, 216, 239);
	height: 20px;
	line-height: 16px;
	font-size: 16px;
	display: block;
	margin-right: 10px;
}

.regex {
	
	/*The actual input box*/
	width: 277px;
	display: block;
	position: relative;
	height: 14px;
	font-size: 14px;
	border-radius: 2px;
	border: 0px;
	margin: 0px;
	line-height: 14px;
	padding: 5px;
	font-family: Roboto;
	/*border-bottom-right-radius: 0px;*/
	/*border-top-right-radius: 0px;*/
	float: left;
}

.grep {
	display: block;
	padding-top: 10px;
}

.grep::before {
	content: "Regex";
	color: rgb(248, 248, 242);
	float: left;
	margin-right: 10px;
	display: block;
	font-family: Roboto;
	line-height: 20px;
	font-size: 14px;
	width: 80px;
}

.deltas-form {
	display: inline-block;
	padding: 0;
	padding-top: 16px;
	margin: 0;
	outline: 0;
}

.deltas-form::before {
	content: "Time Delta ";
	color: rgb(248, 248, 242);
	float: left;
	width: 80px;
	margin-right: 10px;
	display: block;
	font-family: Roboto;
	line-height: 20px;
	font-size: 14px;
}

.time-delta {
	height: 14px;
	border: none;
	/*border-radius: 2px;*/
	background-color: rgba(255,255,255,0.2);
	outline: none;
	padding: 2px;
	text-align: center;
	width: 36px;
	margin: 0px;
	margin-right: 0px;
	border-right: 1px solid rgba(0,0,0,1);
	line-height: 14px;
	padding-top: 5px;
	padding-bottom: 5px;
	font-size: 12px;
	color: rgb(248, 248, 242);

	float: left;
}

.label-delta {
	float: left;
	position: relative;
}

.label-delta::before {
	content: "";
	height: 10px;
	width: 10px;
	position: absolute;
	display: inline-block;
	width: 40px;
	color: #ffffff;
	top:-16px;
	font-size: 11px;
	font-family: Roboto;
	/*color: rgba(255,255,255,0.5);*/
	background-color: rgb(231, 219, 116);
	color: rgba(255,255,255,0.7);
	color: #000000;
	text-align: center;

	background-color: rgb(109, 110, 106);
	padding-top: 2px;
	height:14px;	
	line-height: 14px;

	border-top-left-radius: 2px;
	border-top-right-radius: 2px;
}

.label-y::before {
	content: 'Years'
}
.label-m::before {
	content: 'Months'
}
.label-d::before {
	content: 'Days'
}
.label-H::before {
	content: 'Hours'
}
.label-M::before {
	content: 'Mins'
}
.label-S::before {
	content: 'Secs'
}
.label-f::before {
	content: 'Micros'
}

.td-left {
	border-bottom-left-radius: 2px;
	/*border-top-left-radius: 2px;*/
}

.td-right {
	border-bottom-right-radius: 0px;
	border-top-right-radius: 0px;
	margin-right: 0px;
}

.delta-button {
	
	display: block;
	background-color: rgb(0, 120, 249);
	color: rgb(248, 248, 242);
	cursor: pointer;
	height: 24px;
	line-height: 14px;
	font-size: 14px;
	font-family: Roboto;
	padding: 5px;
	padding-left: 10px;
	padding-right: 10px;
	margin: 0px;
	border: 0px;
	outline: 0px;
	border: 0px;
	border-radius: 2px;
	width: auto;
	box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
	transition: all 0.3s cubic-bezier(.25,.8,.25,1);
	border-bottom-left-radius: 0px;
	border-top-left-radius: 0px;
	float: left;
}

.line {
	white-space: nowrap;
}

.timestamp {
	color: rgb(166, 226, 44);
}

.timestamp-interpolated {
	color: rgb(249, 35, 114);
}

.logline {
	color: rgb(248, 248, 242);
}

.error {
	color: rgb(104, 216, 239);
}

input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  margin: 0; 
}


/*Text highlight color*/




::selection {
	background: rgb(172, 171, 161); /* WebKit/Blink Browsers */
}
::-moz-selection {
	background: rgb(172, 171, 161); /* Gecko Browsers */
}

.time-delta::selection {
	background: rgb(220, 220, 220); /* WebKit/Blink Browsers */
}
.time-delta::-moz-selection {
	background: rgb(220, 220, 220); /* WebKit/Blink Browsers */
}


/* Custom width holders - upto 10 files! (Anything beyond 3 or 4, even on a high resolution screen would be a mess though) */

.div-1 {
	width: 100%;
	float: none;
}

.div-2 {
	width: 50%;
	float: left;
}

.div-3 {
	width: 33.33%;
	float: left;
}

.div-4 {
	width: 25%;
	float: left;
}

.div-5 {
	width: 20%;
	float: left;
}

.div-6 {
	width: 16.66%;
	float: left;
}

.div-7 {
	width: 14.285%;
	float: left;
}

.div-8 {
	width: 12.5%;
	float: left;
}

.div-9 {
	width: 11.11%;
	float: left;
}

.div-10 {
	width: 10%;
	float: left;
}